@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

:root {
	--color-bg-grad: linear-gradient(
		rgb(248, 250, 253) 0%,
		rgba(248, 250, 253, 0) 413px
	);
	--color-bg-global: #fafafa;
	--color-bg-grey: {
		rgb(239, 242, 245);
	};
}

.layout {
	@apply flex flex-col gap-4 py-8 px-12;
}

.box-shadow-grey {
	box-shadow: inset 0 -1px #eaeaea;
}

.color-bg {
	background: var(--color-bg-global);
}

.color-bg-grey {
	background: var(--color-bg-grey);
}

.scrollable::-webkit-scrollbar {
	display: none;
}

.slide-in {
	animation: fadeIn .2s ease-in;
}

.fly-in {
	animation: flyin .3s ease;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flyin {
  0% {
    transform: translatex(100%)
  }
  100% {
    transform: translateX(0);
  }
}

.profile-button:hover svg {
	color: black;
}






